<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{link osoby}">APV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{link osoby}">Vyhledat osobu </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link pridejOsobuSAdresou}">Přidat osobu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link schuzky}">Seznam schůzek</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link vytvoritSchuzku}">Přidat schůzku</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link vytvoritAdresu}">Přidat adresu</a>
            </li>
        </ul>
        {if !empty($_SESSION['user'])}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{link logout}">
                        Odhlásit {$_SESSION['user']['login']}
                    </a>
                </li>
            </ul>
        {/if}

    </div>
</nav>


<!-- chyba -->
{if !empty($error)}
    <div class="container mt-4">
        <div class="alert alert-danger">
            {$error}

        </div>
    </div>
{/if}
{include body}
</body>
</html>