{extends layout.latte}

{block title}Login{/block}

{block body}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 mt-4">
                <br>
                <form method="post" action="{link login}">
                    <label>Login</label>
                    <input type="text" name="login" class="form-control">
                    <label>Heslo</label>
                    <input type="password" name="pass" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-outline-dark">
                        <span class="fa fa-user"></span>
                        Přihlásit
                    </button>
                    <br>
                </form>
                <br>
                <a href="{link registrace}"">Nemáte účet? Registrujte se.</a>
            </div>
        </div>
    </div>
{/block}




