{extends layout.latte}

{block title}Výpis osob{/block}

{block body}
    <div class="container">
        <br>
        <form method="get" action="{link osoby}">
            <div class="row">
                <div class="col-11">
                    <input type="text" name="q" value="{$q}" class="form-control">
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-outline-dark">
                        <span class="fa fa-search"></span>
                        Hledat
                    </button>
                </div>
            </div>
            <br>
        </form>

        <h1>{include title}</h1>
        <table class="table table-striped">
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Přezdívka</th>
                <th>Adresa</th>
                <th>Počet kontaktů</th>
                <th>Počet vztahů</th>
                <th>Počet schůzek</th>
                <th>Kontakty</th>
                <th>Vztahy</th>
                <th>Schůzky</th>
                <th>Editovat</th>
                <th>Smazat</th>
            </tr>
            {foreach $osoby as $o}
            <tr>
                <td>{$o['first_name']}</td>
                <td>{$o['last_name']}</td>
                <td>{$o['nickname']}</td>
                <td>{$o['adresa']}</td>
                <td>{$o['pocet_kontaktu']}</td>
                <td>{if ($o['pocet_vztahu']>0)}{$o['pocet_vztahu']}{/if}</td>
                <td>{$o['pocet_schuzek']}</td>
                <td>
                    <a href="{link pridejKontakt}?id={$o['id_person']}" class="btn btn-outline-dark">
                        <span class="fa fa-phone"></span>
                    </a>
                </td>
                <td>
                    <a href="{link pridejVztah}?id={$o['id_person']}" class="btn btn-outline-dark">
                        <span class="fa fa-users"></span>
                    </a>
                </td>
                <td>
                    <a href="{link pridejSchuzku}?id={$o['id_person']}" class="btn btn-outline-dark">
                        <span class="fa fa-user-secret"></span>
                    </a>
                </td>
                <td>
                    <a href="{link upravOsobu}?id={$o['id_person']}" class="btn btn-outline-info">
                        <span class="fa fa-edit"></span>
                    </a>
                </td>
                <td>
                    <form method="post" action="{link smazOsobu}?id={$o['id_person']}" onsubmit="return confirm('Opravdu smazat?')">
                        <button type="submit" class="btn btn-danger">
                            <span class="fa fa-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {/foreach}
        </table>
    </div>
{/block}




