{extends layout.latte}

{block title}Přidání osoby s adresou{/block}

{block body}
    <div class="container">

        <h1>{include title}</h1>
        <form method="post" action="{link pridejOsobuSAdresou}">
            <div class="row">
                <div class="col-6">
                    <span>Jméno</span>
                    <input type="text" name="fn" value="{$form['fn']}" class="form-control">
                    <span>Příjmení</span>
                    <input type="text" name="ln" value="{$form['ln']}" class="form-control">
                    <span>Přezdívka</span>
                    <input type="text" name="nn" value="{$form['nn']}" class="form-control">
                    <span>Pohlaví</span>
                    <select name="g" value="{$form['g']}" class="form-control">
                        <option value="">neznámé</option>
                        <option value="male">muž</option>
                        <option value="female">žena</option>
                    </select>
                    <span>Datum narození</span>
                    <input type="date" value="{$form['bd']}" name="bd" class="form-control">
                    <span>Výška</span>
                    <input type="number" value="{$form['h']}" name="h" class="form-control">
                </div>
                <div class="col-6">
                    <span>Město</span>
                    <input type="text" name="ci" value="{$form['ci']}" class="form-control">
                    <span>Ulice</span>
                    <input type="text" name="st" value="{$form['st']}" class="form-control">
                    <span>Číslo domu</span>
                    <input type="number" name="sn" value="{$form['sn']}" class="form-control">
                    <span>PSČ</span>
                    <input type="text" name="zip" value="{$form['zip']}" class="form-control">
                    <span>Existující adresa/Nová adresa</span>
                    <select name = "idl" class="form-control">
                        <option value="pba" selected>Přidat bez adresy</option>
                        <option value="pna">Přidat novou adresu</option>
                        {foreach $locations as $l}
                            <option value="{$l['id_location']}">{$l['adresa']}</option>
                        {/foreach}
                    </select>

                </div>

            </div>
            <br>
            <button type="submit" class="btn btn-outline-dark">
                <span class="fa fa-save"></span>
                Přidat
            </button>
        </form>
    </div>
{/block}




