{extends layout.latte}

{block title}Kontakty{/block}

{block body}
    <div class="container">
        <br>
        <h1 class="float-left">{include title}</h1>
        <a href="{link pridejVztah}?id={$id}" class="btn btn-outline-dark float-right odsadTlacitko">
            <span class="fa fa-users"></span>
            Vztahy
        </a>
        <a href="{link pridejSchuzku}?id={$id}" class="btn btn-outline-dark float-right">
            <span class="fa fa-user-secret"></span>
            Schůzky
        </a>

        <div class="row zrusFloat">
            <div class="col-8">
                <h2>Existující:</h2>
                {if empty($contacts)}
                    <p>Osoba nemá žádné kontakty</p>
                {else}
                <table class="table table-striped">
                    <tr>
                        <th>Typ kontaktu</th>
                        <th>Kontakt</th>
                        <th>Editovat</th>
                        <th>Smazat</th>
                    </tr>
                    {foreach $contacts as $c}
                        <tr>
                            <td>{$c['name']}</td>
                            <td>{$c['contact']}</td>
                            <td>
                                <a href="{link upravKontakt}?id={$c['id_contact']}&idperson={$c['id_person']}" class="btn btn-outline-info">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <form method="post" action="{link smazKontakt}?id={$c['id_contact']}&idperson={$c['id_person']}" onsubmit="return confirm('Opravdu smazat?')">
                                    <button type="submit" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {/foreach}
                </table>
                {/if}
            </div>

            <div class="col-4">
                <h2>Nový:</h2>
                <form method="post" action="{link pridejKontakt}">
                    <input type="hidden" name="id" value="{$id}">
                    <span>Typ kontaktu</span>
                    <select name="ct_id" class="form-control">
                        {foreach $types as $t}
                            <option value="{$t['id_contact_type']}">{$t['name']}</option>>
                        {/foreach}
                    </select>
                    <span>Kontakt</span>
                    <input type="text" name="txt" class="form-control" required>
                    <br>
                    <button type="submit" class="btn btn-outline-dark">
                        <span class="fa fa-save"></span>
                        Přidat
                    </button>
                </form>
            </div>
        </div>
    </div>
{/block}




