{extends layout.latte}

{block title}Schůzky{/block}

{block body}
    <div class="container">
        <br>
        <h1 class="float-left">{include title}</h1>
        <a href="{link pridejKontakt}?id={$id}" class="btn btn-outline-dark float-right odsadTlacitko">
            <span class="fa fa-phone"></span>
            Kontakty
        </a>
        <a href="{link pridejVztah}?id={$id}" class="btn btn-outline-dark float-right">
            <span class="fa fa-users"></span>
            Vztahy
        </a>

        <h2 class="zrusFloat">Existující:</h2>
        {if empty($meetings)}
            <p>Osoba nemá žádné schůzky</p>
        {else}
            <table class="table table-striped">
                <tr>
                    <th>Začátek</th>
                    <th>Adresa</th>
                    <th>Počet účastníků</th>
                    <th>Popis</th>
                    <th>Délka</th>
                    <th>Upravit</th>
                    <th>Zrušit účast</th>
                </tr>
                {foreach $meetings as $m}
                    <tr>
                        <td>{$m['start']}</td>
                        <td>{$m['adresa']}</td>
                        <td>{$m['pocet_ucastniku']}</td>
                        <td>{$m['description']}</td>
                        <td>{$m['duration']}</td>
                        <td>
                            <a href="{link upravSchuzku}?id={$m['id_meeting']}&idperson={$id}" class="btn btn-outline-info">
                                <span class="fa fa-edit"></span>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{link odebratZeSchuzky}?id={$m['id_meeting']}&idperson={$id}" onsubmit="return confirm('Opravdu odebrat?')">
                                <button type="submit" class="btn btn-danger">
                                    <span class="fa fa-times"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {/foreach}
            </table>
        {/if}
    </div>
{/block}




