{extends layout.latte}

{block title}Vztahy{/block}

{block body}
    <div class="container">
        <br>
        <h1 class="float-left">{include title}</h1>
        <a href="{link pridejKontakt}?id={$id}" class="btn btn-outline-dark float-right odsadTlacitko">
            <span class="fa fa-phone"></span>
            Kontakty
        </a>
        <a href="{link pridejSchuzku}?id={$id}" class="btn btn-outline-dark float-right">
            <span class="fa fa-user-secret"></span>
            Schůzky
        </a>

        <div class="row zrusFloat">
            <div class="col-8">
                <h2>Existující:</h2>
                {if empty($relations)}
                    <p>Osoba nemá žádné vztahy</p>
                {else}
                    <table class="table table-striped">
                        <tr>
                            <th>Typ vztahu</th>
                            <th>Druhá osoba</th>
                            <th>Popis</th>
                            <th>Editovat</th>
                            <th>Smazat</th>
                        </tr>
                        {foreach $relations as $r}
                            <tr>
                                <td>{$r['name']}</td>
                                <td>{$r['other_person']}</td>
                                <td>{$r['description']}</td>
                                <td>
                                    <a href="{link upravVztah}?id={$r['id_relation']}&idperson={$id}" class="btn btn-outline-info">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                                <td>
                                    <form method="post" action="{link smazVztah}?id={$r['id_relation']}&idperson={$id}" onsubmit="return confirm('Opravdu smazat?')">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {/foreach}
                    </table>
                {/if}
            </div>

            <div class="col-4">
                <h2>Nový:</h2>
                <form method="post" action="{link pridejVztah}">
                    <input type="hidden" name="id" value="{$id}">
                    <span>Typ vztahu</span>
                    <select name="rl_id" class="form-control">
                        {foreach $types as $t}
                            <option value="{$t['id_relation_type']}">{$t['name']}</option>>
                        {/foreach}
                    </select>
                    <span>Druhá osoba</span>
                    <select name="pr_id" class="form-control">
                        {foreach $persons as $p}
                            <option value="{$p['id_person']}">{$p['first_name']} {$p['last_name']}</option>>
                        {/foreach}
                    </select>
                    <span>Popis</span>
                    <input type="text" name="txt" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-outline-dark">
                        <span class="fa fa-save"></span>
                        Přidat
                    </button>
                </form>
            </div>
        </div>
    </div>
{/block}




