{extends layout.latte}

{block title}Registrace{/block}

{block body}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 mt-4">
                <br>
                <form method="post" action="{link registrace}">
                    <label>Login</label>
                    <input type="text" name="login" class="form-control">
                    <label>Heslo</label>
                    <input type="password" name="pass1" class="form-control">
                    <label>Heslo </label>
                    <input type="password" name="pass2" class="form-control">
                    <br>
                    <button type="submit" class="btn btn-outline-dark">
                        <span class="fa fa-user"></span>
                        Registrovat
                    </button>
                    <br>
                </form>
                <br>
                <a href="{link login}">Už máte účet? Přihlaste se.</a>
            </div>
        </div>
    </div>
{/block}




