{extends layout.latte}

{block title}Výpis schůzek{/block}

{block body}
    <div class="container">
        <br>

        <h1>{include title}</h1>

        <div class="row">
            <table class="table table-striped">
            <tr>
                <th>Začátek</th>
                <th>Adresa</th>
                <th>Počet účastníků</th>
                <th>Popis</th>
                <th>Délka</th>
                <th>Upravit</th>
                <th>Smazat</th>
            </tr>
            {foreach $meetings as $m}
                <tr>
                    <td>{$m['start']}</td>
                    <td>{$m['adresa']}</td>
                    <td>{$m['pocet_ucastniku']}</td>
                    <td>{$m['description']}</td>
                    <td>{$m['duration']}</td>
                    <td>
                        <a href="{link upravSchuzku}?id={$m['id_meeting']}" class="btn btn-outline-info">
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    <td>
                        <form method="post" action="{link odebratSchuzku}?id={$m['id_meeting']}" onsubmit="return confirm('Opravdu odebrat?')">
                            <button type="submit" class="btn btn-danger">
                                <span class="fa fa-times"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            {/foreach}
            </table>
        </div>
    </div>
{/block}




