{extends layout.latte}

{block title}Úprava kontaktu{/block}

{block body}
    <div class="container">
        <br>
        <h1 class="float-left">{include title}</h1>
        <a href="{link pridejKontakt}?id={$idperson}" class="btn btn-outline-dark float-right">
            <span class="fa fa-backspace"></span>
            Zpět
        </a>
        <form class="zrusFloat" method="post" action="{link upravKontakt}?id={$id}&idperson={$idperson}">
            <span>Kontakt</span>
            <input type="text" name="contact" value="{$form['contact']}" class="form-control">
            <span>Typ kontaktu</span>
            <select name="ict" class="form-control">
                {foreach $types as $t}
                    <option value="{$t['id_contact_type']}" {if $form['type']==$t['id_contact_type']}selected{/if}>{$t['name']}</option>>
                {/foreach}
            </select>
            <br>
            <button type="submit" class="btn btn-outline-dark">
                <span class="fa fa-save"></span>
                Uložit
            </button>
        </form>
    </div>
{/block}




