{extends layout.latte}

{block title}Úprava vztahu{/block}

{block body}
    <div class="container">
        <br>
        <h1 class="float-left">{include title}</h1>
        <a href="{link pridejVztah}?id={$idperson}" class="btn btn-outline-dark float-right">
            <span class="fa fa-backspace"></span>
            Zpět
        </a>
        <br class="zrusFloat">
        <form method="post" action="{link upravVztah}?id={$id}&idperson={$idperson}">
            <span>Typ vztahu</span>
            <select name="irt" class="form-control">
                {foreach $types as $t}
                    <option value="{$t['id_relation_type']}" {if $form['type']==$t['id_relation_type']}selected{/if}>{$t['name']}</option>>
                {/foreach}
            </select>
            <span>Druhá osoba</span>
            <input type="text" readonly name="opn" value="{$form['other_person_name']}" class="form-control">
            <span>Popis</span>
            <input type="text" name="txt" value="{$form['description']}" class="form-control">
            <br>
            <button type="submit" class="btn btn-outline-dark">
                <span class="fa fa-save"></span>
                Uložit
            </button>
        </form>
    </div>
{/block}




