{extends layout.latte}

{block title}Úprava osoby{/block}

{block body}
    <div class="container">
        <br>
        <h1 class="float-left">{include title}</h1>
        <a href="{link osoby}" class="btn btn-outline-dark float-right">
            <span class="fa fa-backspace"></span>
            Zpět
        </a>
        <form class="zrusFloat" method="post" action="{link upravOsobu}?id={$id}">
            <span>Jméno</span>
            <input type="text" name="fn" value="{$form['fn']}" class="form-control">
            <span>Příjmení</span>
            <input type="text" name="ln" value="{$form['ln']}" class="form-control">
            <span>Přezdívka</span>
            <input type="text" name="nn" value="{$form['nn']}" class="form-control">
            <span>Pohlaví</span>
            <select name="g" value="{$form['g']}" class="form-control">
                <option value="">neznámé</option>
                <option value="male">muž</option>
                <option value="female">žena</option>
            </select>
            <span>Datum narození</span>
            <input type="date" value="{$form['bd']}" name="bd" class="form-control">
            <span>Výška</span>
            <input type="number" value="{$form['h']}" name="h" class="form-control">
            <span>Adresa:</span>
            <select name = "idl" class="form-control">
                <option value="">Bez adresy</option>
                {foreach $locations as $l}
                    <option value="{$l['id_location']}" {if $l['id_location'] == $form['idl']}selected{/if}>{$l['adresa']}</option>
                {/foreach}
            </select>
            <br>
            <button type="submit" class="btn btn-outline-dark">
                <span class="fa fa-save"></span>
                Uložit
            </button>
        </form>
    </div>
{/block}




