{extends layout.latte}

{block title}Úprava schůzky{/block}

{block body}
    <div class="container">
        <br>
        <h1 class="float-left">{include title}</h1>

        {if empty($idperson)}
            <a href="{link schuzky}" class="btn btn-outline-dark float-right">
                <span class="fa fa-backspace"></span>
                Zpět
            </a>
        {else}
            <a href="{link pridejSchuzku}?id={$idperson}" class="btn btn-outline-dark float-right">
                <span class="fa fa-backspace"></span>
                Zpět
            </a>
        {/if}

        <div class="row zrusFloat">
            <div class="col-4">
                <h2>Účastníci</h2>
                {if !empty($participants)}
                    <table class="table table-striped">
                        <tr>
                            <th>Jméno</th>
                            <th>Příjmení</th>
                            <th>Odebrat</th>
                        </tr>
                        {foreach $participants as $p}
                        <tr>
                            <td>{$p['first_name']}</td>
                            <td>{$p['last_name']}</td>
                            <td>
                                <form method="post" action="{link odebratOsobuZeSchuzky}?id={$id}&idperson={$p['id_person']}">
                                    <button type="submit" class="btn btn-danger">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {/foreach}
                    </table>
                {else}
                    <p>Schůzka zatím nemá žádné účastníky</p>
                {/if}
            </div>
            <div class="col-4">
                <h2>Přidat účastníka</h2>
                <form method="post" action="{link pridejOsobuKeSchuzce}">
                    <input type="hidden" name="id" value="{$id}">
                    <span>Druhá osoba</span>
                    <select name="pr_id" class="form-control">
                        {foreach $persons as $p}
                            <option value="{$p['id_person']}">{$p['first_name']} {$p['last_name']}</option>>
                        {/foreach}
                    </select>
                    <br>
                    <button type="submit" class="btn btn-outline-dark">
                        <span class="fa fa-save"></span>
                        Přidat
                    </button>
                </form>
            </div>
            <div class="col-4">
                <h2>Upravit schůzku</h2>
                <form method="post" action="{link upravSchuzku}?id={$id}">
                    <input type="hidden" name="id" value="{$id}">
                    <span>Začátek</span>
                    <input type="datetime-local" name="datum" value="{$form['datum']}" class="form-control">
                    <span>Popis</span>
                    <input type="text" name="descr" value="{$form['descr']}" class="form-control">
                    <span>Délka</span>
                    <input type="time" name="dur" value="{$form['dur']}" class="form-control">
                    <span>Adresa</span>
                    <select name = "idl" class="form-control">
                        {foreach $locations as $l}
                            <option value="{$l['id_location']}" {if $form['idl']==$l['id_location']}selected{/if}>{$l['adresa']}</option>>
                        {/foreach}
                    </select>
                    <br>
                    <button type="submit" class="btn btn-outline-dark">
                    <span class="fa fa-save"></span>
                        Uložit
                    </button>
                </form>
            </div>
        </div>
    </div>
{/block}




