{extends layout.latte}

{block title}Přidání adresy{/block}

{block body}
    <div class="container">

        <h1>{include title}</h1>
        <form method="post" action="{link vytvoritAdresu}">
            <div class="row">
                <div class="col-6">
                    <span>Město</span>
                    <input type="text" name="ci" value="{$form['ci']}" class="form-control" required>
                    <span>Ulice</span>
                    <input type="text" name="st" value="{$form['st']}" class="form-control">
                    <span>Číslo domu</span>
                    <input type="number" name="sn" value="{$form['sn']}" class="form-control">
                    <span>PSČ</span>
                    <input type="text" name="zip" value="{$form['zip']}" class="form-control">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-dark">
                <span class="fa fa-save"></span>
                Přidat
            </button>
        </form>
    </div>
{/block}




