{extends layout.latte}

{block title}Vytvoření nové schůzky{/block}

{block body}
    <div class="container">
        <br>
        <h1 class="float-left">{include title}</h1>
        <a href="{link schuzky}" class="btn btn-outline-dark float-right">
            <span class="fa fa-backspace"></span>
            Zpět
        </a>

        <div class="row zrusFloat">
            <form method="post" action="{link vytvoritSchuzku}">
                <span>Začátek</span>
                <input type="datetime-local" name="datum" value="{$form['datum']}" class="form-control">
                <span>Popis</span>
                <input type="text" name="descr" value="{$form['descr']}" class="form-control">
                <span>Délka</span>
                <input type="time" name="dur" value="{$form['dur']}" class="form-control">
                <span>Existující adresa/Nová adresa</span>
                <select name = "idl" class="form-control">
                    <option value="pna">Přidat novou adresu</option>
                    {foreach $locations as $l}
                        <option value="{$l['id_location']}">{$l['adresa']}</option>
                    {/foreach}
                </select>
                <span>Město</span>
                <input type="text" name="ci" value="{$form['ci']}" class="form-control">
                <span>Ulice</span>
                <input type="text" name="st" value="{$form['st']}" class="form-control">
                <span>Číslo domu</span>
                <input type="number" name="sn" value="{$form['sn']}" class="form-control">
                <span>PSČ</span>
                <input type="text" name="zip" value="{$form['zip']}" class="form-control">
                <br>
                <button type="submit" class="btn btn-outline-dark">
                    <span class="fa fa-save"></span>
                    Přidat
                </button>
            </form>
        </div>
    </div>
{/block}




